
.detailsContainer {
  background-image: url(../../assets/images/game.jpg);
  background-repeat:repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailsContainer h2 {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background-color: rgba(14, 14, 14, 0.262);
}
.detailsCard {
  position: relative;
  color: rgb(143, 107, 10);
  background-color: rgb(36, 38, 46);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  border: 2px solid;
}
.detailsCard h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.detailsCard p:first-of-type {
  margin-bottom: 0.5rem;
}
.icon {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  cursor: pointer;
}
.icon img {
  width: 30px;
}
/* media querries for desktop */
@media (min-width: 680px) {
  .detailsCard {
    min-width: 450px;
    padding-right: 5rem;
    padding-top: 3.5rem;
    border: unset;
    opacity: 0.8;
    color: #fff;
  }
  .detailsCard span {
    margin-left: 1rem;
  }
  .icon:hover img {
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  .icon img {
    width: 40px;
  }
}
